<% c++ #include "master.h" %>
<% skin html %>
<% view radiorandom_index uses master::master extends radiorandom_master %>
<% template body() %><% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
