<% c++ #include "master.h" %>
<% xhtml %>
<% skin html %>
<% view radiorandom_index uses master::index extends radiorandom_master %>
<% template body() %>
			<div class="centeredtext">
				<h1 class="welcome">Welcome to radio random!</h1>
				<a href="/listen">Lsten!</a>
				<p class="stat">Currently serving <% files %> files of <% filessize | ext format_filessize %> size.</p>
			</div>
<% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
