<% c++ #include "radiorandom.h" %>
<% xhtml %>
<% skin html %>
<% view html_menu uses radiorandom::menu %>
<% template menulinks() %>
			<div class="left_side">
				<% include menulinks_left(menu_links_left,menu_current) %>
			</div>
			<div class="right_side">
				<% include menulinks_right(menu_links_right,menu_current) %>
			</div>
<% end %>
<% template menulinks_left(links_set items, menu_item current) %>
	<% foreach i in items %>
		<% item %>
			<% if (i.name == current.name) %>
				<span class="menu_current"><% i.name %></span>
			<% else %>
				<span class="menu_rest"><a href="<% i.href %>"><% i.name %></a></span>
			<% end %>
		<% end %>
	<% end %>
<% end %>
<% template menulinks_right(links_set items, menu_item current) %>
	<% foreach i in items %>
		<% item %>
			<% if (i.name == current.name) %>
				<span class="menu_current"><% i.name %></span>
			<% else %>
				<span class="menu_rest"><a href="<% i.href %>"><% i.name %></a></span>
			<% end %>
		<% end %>
	<% end %>
<% end %>
<% end view %>
<% end skin %>
