<% c++ #include "radiorandom.h" %>
<% xhtml %>
<% skin html %>
<% view html_posts_new uses radiorandom::posts_new extends html_master %>
<% template body() %>
		<% if exists %>
			<table class="fullwidth">
				<tr>
					<th>Filename</th>
					<th>Size</th>
					<th>Score</th>
					<th>Tags</th>
					<th>Posted</th>
				</tr>
				<tr>
					<td><a href="<% exists_filepath %>"><% exists_filename %></a></td>
					<td><% exists_size | ext formatsize  %></td>
					<td><% exists_score %></td>
					<td><% exists_tags %></td>
					<td><% exists_posted | ext time_passed %></td>
				</tr>
			</table>
		<% end %>
		<form method="post" enctype="multipart/form-data" action="/posts/new">
		<table class="fullwidth">
			<tr>
					<td colspan="2" class="error"><% message %></td>
			</tr>
			<tr>
					<td colspan="2" class="thanks"><h3><% thanks %></h3></td>
			</tr>
			<tr>
					<td>File (50MB max):</td>
					<td colspan="2"><% form as_space file %></td>
			</tr>
			
			<tr>
					<td>Tags:</td>
					<td><% form begin tags %>rows="5" cols="30"<% form end tags %></td>
					<td></td>
			</tr>

			<tr>
					<td></td>
					<td>Seperate with spaces</td>
					<td><% form as_space submit %></td>
			</tr>
		</table>
	</form>
<% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
