<% c++ #include "master.h" %>
<% xhtml %>
<% skin html %>
<% view radiorandom_setup uses master::setup extends radiorandom_master %>
<% template body() %>
			<div class="centeredtext">
				<% if submut_res %>
					<h1>Setted up!</h1>
				<% else %>
					<% if already_setted_up %>
						<h1>Already setted up. Aborting.</h1>
					<% else %>
						<h1>Setting up RadioRandom database.</h1>
						<form method="post" action="/setup">
							<% form as_p setupform %>
						</form>
					<% end %>
				<% end %>
			</div>
<% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
