<% c++ #include "radiorandom.h" %>
<% xhtml %>
<% skin html %>
<% view html_users_profile uses radiorandom::users_profile extends html_master %>
<% template body() %>
	<% if logined %>
		<p><a href="/users/logout">» Logout</a></p>
		<p><a href="/users/profile/settings">» Settings</a></p>
		<p><a href="/users/profile/password">» Change Password</a></p>
	<% else %>
		<p><a href="/users/login">» Login</a></p>
	<% end %>
<% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
