<% c++ #include "radiorandom.h" %>
<% xhtml %>
<% skin html %>
<% view html_users_profile_password uses radiorandom::users_profile_password extends html_master %>
<% template body() %>
	<form method="post" action="/users/profile/password">
		<table>
			<tr>
				<td colspan="2"><% message %></td>
			</tr>
			<tr>
				<td>New password: </td>
				<td><% form as_space password %></td>
			</tr>
			<tr>
				<td>Confirmation: </td>
				<td><% form as_space password_confirmation %></td>
			</tr>
				<td></td>
				<td><% form as_space submit %></td>
			<tr>
			</tr>
		</table>
	</form>
<% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
