<% c++ #include "radiorandom.h" %>
<% xhtml %>
<% skin html %>
<% view html_users_show uses radiorandom::users_show extends html_master %>
<% template body() %>
	<table>
				<tr>
					<td>Username: </td>
					<td><a href="/users/<% user.id %>"><% user.username %></a></td>
				</tr>
				<tr>
					<td>Score: </td>
					<td><% user.score %></td>
				</tr>
				<tr>
					<td>Access level: </td>
					<td><% user.access %></td>
				</tr>
				<tr>
					<td>Joined: </td>
					<td><% user.joined | ext time_passed %></td>
				</tr>
		</tr>
	</table>

<% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
