<% c++ #include <radiorandom/model/post/index.hpp> %>
<% skin html %>
<% view post_index uses content::post::index extends generic_view %>

<% template body_content() %>
<div>
	<p>Post index</p>
</div>
<% end template %>

<% end view %>
<% end skin %>
