<% c++ #include <radiorandom/model/post/list.hpp> %>
<% skin html %>
<% view post_list uses content::post::list extends generic %>

<% template body_content() %>
<div>
    <p>Post index</p>
    <p>List index</p>
</div>

<% end template %>

<% end view %>
<% end skin %>
