<% c++ #include <radiorandom/model/post/post.hpp> %>
<% skin html %>
<% view post uses content::post extends generic_view %>
<% template page_content() %>
post index hello
<% end template %>
<% end view %>
<% end skin %>
