<% c++ #include <radiorandom/model/post/upload.hpp> %>
<% skin html %>
<% view post_upload uses content::post::upload extends generic_view %>

<% template body_content() %>
<div>
	<p>Post upload</p>
</div>
<% end template %>

<% end view %>
<% end skin %>
