<% c++ #include <radiorandom/model/post/upload.hpp> %>
<% skin html %>
<% view post_upload uses content::post::upload extends generic %>

<% template body_content() %>
<div>
    <p>Post index</p>
    <p>Upload index</p>
</div>

<% end template %>

<% end view %>
<% end skin %>
