<% c++ #include <radiorandom/model/js/index.hpp> %>
<% skin html %>
<% view js_index uses content::js::index extends generic %>

<% template body_content() %>
<div>
    <p>JS Server Index</p>
</div>
<% end template %>

<% end view %>
<% end skin %>
