<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view html_users uses model::users extends html_master %>
<% template body() %>
	<table class="fullwidth">
		<tr>
			<% if content.infix.length() %>
			<% end %>
				<th><a href="?sortby=username&amp;order=<% sortdir_username %><% content.suffix %>">Username</a></th>
				<th><a href="?sortby=score&amp;order=<% sortdir_score %><% content.suffix %>">Score</a></th>
				<th><a href="?sortby=access&amp;order=<% sortdir_access %><% content.suffix %>">Access</a></th>
				<th><a href="?sortby=joined&amp;order=<% sortdir_joined %><% content.suffix %>">Joined</a></th>
		</tr>
			<% foreach user in usersset %>
			<% item %>
		<tr>
				<td><a href="/users/<% user.id %>"><% user.username %></a></td>
				<td><% user.score %></td>
				<td><% user.access | ext user_access_filter %></td>
				<td><% user.joined | ext content.passed_time_filter %></td>
		</tr>
		<% end %>
		<% end %>
	</table>

<% end %>
<% template footer() %>	
		<div class="navigation">
			<% if many_items %>
				<% page | ext navigation_generator_filter %>
			<% end %>
		</div>
<% end %>
<% end view %>
<% end skin %>
