<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view html_users_profile_email uses model::users_profile_email extends html_master %>
<% template body() %>
	<form method="post" action="/users/profile/email">
		<table>
			<tr>
				<td>Current email:</td>
				<td><% current_email %></td>
			</tr>
			<tr>
				<td colspan="2"><% message %></td>
			</tr>
			<tr>
				<td>New email: </td>
				<td><% form as_space email %></td>
			</tr>
			<tr>
				<td>Confirmation: </td>
				<td><% form as_space email_confirmation %></td>
			</tr>
				<td></td>
				<td><% form as_space submit %></td>
			<tr>
			</tr>
		</table>
	</form>
<% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
