<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view html_users_profile_settings uses model::users_profile_settings extends html_master %>
<% template body() %>
	<form method="post" action="/users/profile/settings">
		<table>
			<tr>
				<td>No settings currently available.</td>
			</tr>
		</table>
	</form>
<% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
