<% c++ #include "base.h" %>
<% skin html %>
<% view base uses model::base %>

<% template head_title_content() %><% end template %>

<% template head_meta_content() %>
<% end template %>

<% template head_script_content() %>
<% end template %>

<% template head_content() %>
    <% include head_meta_content() %>
    <% include head_script_content() %>
<% end template %>

<% template body_content() %>
<% end template %>

<% template navigation() %>
  <% foreach menu_group in navigation %>
    <% item %>
      <div class="menu_group">
      <% foreach menu_item in menu_group %>
        <% item %>
          <div class="menu_link">
            <a href="<% c++ content.app().mapper().map(out(), "/" + menu_item.id) ; %>">
              <%= menu_item.name %>
            </a>
          </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
  <% end %>
<% end template %>

<% template header() %>
<% include navigation() %>
<% end template%>


<% template footer() %>
<% end template %>

<% template render() %>
<html>
    <head>
        <% include head_content() %>
    </head>
    <body>
        <% include header() %>
        <% include body_content() %>
        <% include footer() %>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
