<% c++ #include "error.h" %>
<% skin html %>
<% view error uses model::error extends base %>

<% template body_content() %>
<h1><%= code %> - <%= message %></h1>
<% end template %>

<% end view %>
<% end skin %>
