<% c++ #include <radiorandom/model/generic/error.hpp> %>
<% skin html %>
<% view error uses content::error extends generic %>

<% template body_content() %>
<div>
    <p>Error index</p>
</div>
<% end template %>

<% end view %>
<% end skin %>
