<% c++ #include <radiorandom/model/generic/error.hpp> %>
<% skin html %>
<% view error uses content::error extends generic %>

<% template head_title_content() %>Error <%= code %><%= message %><% end template %>

<% template body_content() %>
<div>
    <p>Error <%= code %><%= message %></p>
</div>
<% end template %>

<% end view %>
<% end skin %>
