<% c++ #include <radiorandom/model/generic/please_install.hpp> %>
<% skin html %>
<% view please_install uses content::please_install extends generic %>

<% template body_content() %>
<div>
    <p>Please install</p>
    <p>Please proceed to the <a href="<% url "/installer" %>">install page</a></p>
</div>
<% end template %>

<% end view %>
<% end skin %>
