<% c++ #include <radiorandom/model/generic/model.hpp> %>
<% skin html %>
<% view generic uses content::generic %>

<% template sub_navigation() %>
<% if not empty menu_items %>
    <div class="submenu_navigation">
        <% foreach m in menu_items %>
            <% item %>
                <% if (m.first == content.menu_item) %>
                    [_<a href="<% c++ content.app().mapper().map(out(), m.first); %>"><%= m.second %></a>_]
                <% else %>
                    [<a href="<% c++ content.app().mapper().map(out(), m.first); %>"><%= m.second %></a>]
                <% end %>
            <% end %>
        <% end %>
    </div>
<% end %>
<% end template %>

<% template navigation() %>
<div class="navigation">
    <div class="main_navigation">
        <% foreach m in module_names %>
            <% item %>
                <% if (m.first == content.module_name) %>
                    [_<a href="<% c++ content.app().mapper().map(out(),"/" + m.first); %>"><%= m.second %></a>_]
                <% else %>
                    [<a href="<% c++ content.app().mapper().map(out(),"/" + m.first); %>"><%= m.second %></a>]
                <% end %>
            <% end %>
        <% end %>
    </div>
    <% include sub_navigation() %>
</div>
<% end template %>

<% template head_title_content() %><% end template %>

<% template head_meta_content() %>
<% end template %>

<% template head_script_content() %>
<% end template %>

<% template head_content() %>
    <title><%= site_name %> <% include head_title_content() %></title>
    <% include head_meta_content() %>
    <% include head_script_content() %>
<% end template %>

<% template body_content() %>
<% end template %>

<% template header() %>
    <% if is_installed %>
        <% if user.logged_in %>
            <div>
                <p>You are <%= user.name %>!</p>
            </div>
        <% end %>
        <% include navigation() %>
    <% end %>
<% end template%>

<% template footer() %>
<% end template %>

<% template render() %>
<html>
    <head>
        <% include head_content() %>
    </head>
    <body>
        <% if has_right("view") %>
            <% include header() %>
            <% include body_content() %>
            <% include footer() %>
        <% else %>
            <div><p>View was disabled for you, you, you!</p></div>
        <% end %>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
