<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view UsersProfileEmail uses Models::Users::UsersProfileEmail extends Master %>
<% template body() %>
<% end %>
<% end view %>
<% end skin %>
