<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view UsersNew uses Models::Users::UsersNew extends Master %>
<% template body() %>
	<%if not result %>
		<form method="post" action="/users/new">
			<table>
			<tr>
				<td><% form as_space username %></td>
				<td>Your desired username</td>
				<td class="error"><% username_message %></td>
			</tr>
			<tr>
				<td><% form as_space password %></td>
				<td>Your password</td>
				<td class="error"><% password_message %></td>
			</tr>
			<tr>
				<td><% form as_space password_confirmation %></td>
				<td>Password confirmation</td>
				<td class="error"><% password_confirmation_message %></td>
			</tr>
			<tr>
				<td><% form as_space email %></td>
				<td>Your email</td>
				<td class="error"><% email_message %></td>
			</tr>
			<tr>
				<td><% form as_space email_confirmation %></td>
				<td>Email confirmation</td>
				<td class="error"><% email_confirmation_message %></td>
			</tr>
			<tr>
				<td colspan="2">I have read and accept <a href="/tos">terms of service</a><% form as_space acceptance_of_tos %></td>
				<td><% form as_space submit %></td>
			</tr>
			</table>
		</form>
	<% else %>
		<h1>Successfuly registered!</h1>
	<% end %>
<% end %>
<% end view %>
<% end skin %>
