<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view UsersProfilePassword uses Models::Users::UsersProfilePassword extends Master %>
<% template body() %>
<% end %>
<% end view %>
<% end skin %>
