<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view UsersProfileSettings uses Models::Users::UsersProfileSettings extends Master %>
<% template body() %>
<% end %>
<% end view %>
<% end skin %>
