<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view Users uses Models::Users::Users extends Master %>
<% template body() %>
	<table class="fullwidth">
		<tr>
			<form method="post" action="/users">
			<td></td>		
			<td><% form as_space search %></td>
			<td><% form as_space submit %></td>
			<td></td>
			</form>
		</tr>
		<% if items.show_sort %>
		<tr>
				<th><a href="<% what %>?sortby=name&amp;order=<% sort_directions_username %><% items.url.infix | raw %><% items.url.suffix | raw %>">Username</a></th>
				<th><a href="<% what %>?sortby=score&amp;order=<% sort_directions_score  %><% items.url.infix | raw %><% items.url.suffix | raw %>">Score</a></th>
				<th><a href="<% what %>?sortby=access&amp;order=<% sort_directions_access  %><% items.url.infix | raw %><% items.url.suffix | raw %>">Access</a></th>
				<th><a href="<% what %>?sortby=joined&amp;order=<% sort_directions_joined  %><% items.url.infix | raw %><% items.url.suffix | raw %>">Joined</a></th>
		</tr>
		<% else %>
			<tr>
				<th><a href="">Username</a></th>
				<th><a href="">Score</a></th>
				<th><a href="">Access</a></th>
				<th><a href="">Joined</a></th>
		</tr>
		<% end %>
			<% foreach user in items.items %>
			<% item %>
		<tr>
				<td class="left"><a href="/users/<% user.id %>"><% user.name %></a></td>
				<td><% user.score %></td>
				<td><% user.access | ext UserAccessFormat %></td>
				<td><% user.joined | ext TimePassed %></td>
		</tr>
		<% end %>
		<% end %>
	</table>
<% end %>
<% template footer() %>	
		<div class="navigation">
			<% if not items.items.empty() %>
				<% items | ext GenNavigation %>
			<% end %>
		</div>
<% end %>
<% end view %>
<% end skin %>
