<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view UsersProfileEmail uses Models::Users::UsersProfileEmail extends Master %>
<% template body() %>
	<form method="post" action="/users/profile/email">
		<table>
			<tr>
				<td>Current email:</td>
				<td><% user.email %></td>
			</tr>
			<tr>
				<% if not success_message.empty() %>
					<td colspan="2" class="valid"><% success_message %></td>
				<% else %>
					<td colspan="2" class="error"><% message %></td>
				<% end %>
			</tr>
			<tr>
				<td>New email: </td>
				<td><% form as_space email %></td>
			</tr>
			<tr>
				<td>Confirmation: </td>
				<td><% form as_space email_confirmation %></td>
			</tr>
				<td></td>
				<td><% form as_space submit %></td>
			<tr>
			</tr>
		</table>
	</form>
<% end %>
<% end view %>
<% end skin %>
