<% c++ #include <radiorandom/model/installer/index.hpp> %>
<% skin html %>
<% view installer_index uses content::installer::index extends generic %>

<% template head_script_content() %>
    <script type="text/javascript" src="/js/installer.js"></script>
<% end template %>

<% template body_content() %>
<div>
    <p>Installer index</p>
    <p><a id="install_action" href="<% url "install" %>">Perform Install action</a></p>
</div>
<% end template %>

<% end view %>
<% end skin %>
