<% c++ #include <radiorandom/model/installer/index.hpp> %>
<% skin html %>
<% view installer_index uses content::installer::index extends generic_view %>

<% template body_content() %>
<div>
	<p>Installer index</p>
	<p><a href="<% url "install" %>">Perform Install action</a></p>
</div>
<% end template %>

<% end view %>
<% end skin %>
