<% c++ #include <radiorandom/model/installer/installer_install.hpp> %>
<% skin html %>
<% view installer_install uses content::installer_install extends root %>
<% template root_content() %>
<p>Installing...Done</p>
<p>Shutting down everything</p>
<p><a href="<% url "/" %>">index</a></p>
<% end template %>
<% end view %>
<% end skin %>
