<% c++ #include <radiorandom/model/installer/install.hpp> %>
<% skin html %>
<% view installer_install uses content::installer::install extends generic %>

<% template body_content() %>
<div>
    <p>Installation in progress...Done</p>
    <p>Now you can return to the <a href="<% url "/" %>">index</a></p>
</div>
<% end template %>

<% end view %>
<% end skin %>
