<% c++ #include <radiorandom/model/installer/installer.hpp> %>
<% skin html %>
<% view installer uses content::installer extends root %>
<% template root_content() %>
installer index hello<br/>
<a href="<% url "install" %>">Perfrom INSTALL</a>
<% end template %>
<% end view %>
<% end skin %>
