<% c++ #include <radiorandom/model/installer/please_install.hpp> %>
<% skin html %>
<% view installer_please_install uses content::installer::please_install extends generic_view %>

<% template body_content() %>
<div>
	<p>Please install</p>
	<p>Please proceed to the <a href="<% url "installer" %>">install page</a></p>
</div>
<% end template %>

<% end view %>
<% end skin %>
