html {
	background:#eee;
	color:#333;
	margin:0px;
}

body {
	margin:0px;
	background:#eee;
}

div.menus {
	width:100%;
	padding-bottom:10%;
}

div.topmenu {
	display:table;
	background:#ddf;
	width:100%;


}
div.topmenu div.left_side {
	display:table-col;
	float:left;
}
div.topmenu div.right_side {
	display:table-col;
	float:right;
}

div.topmenu div div {
	display:table-col;
	background:#ddf;
	float:left;
	padding:5px;
}

div.topmenu div div:hover, div.topmenu div div.menu_current {
	background:#eee;
}


div.submenu {
	padding-left:5%;
	width:100%;
	background:#eee;
	float:left;
}

div.submenu div div {
	padding:5px;
	float:left;
}

div.submenu div div:hover {
	background:#eef;
}


div.contentbody {
	height:100%;
	padding-left:2%;
	padding-right:2%;
	margin-bottom:5%;
}


table.fullwidth {
	text-align:center;
	width:100%;
}

td.left {
	text-align:left;
}


A.voteup {
	background:#dfd;
	color:#dfd;
}

A.votedown {
	background:#fdd;
	color:#fdd;
}

span.plus {
	color:#0d0;
}

span.minus {
	color:#f00;
}



div.centeredtext {
	text-align:center;
}


div.navigation {

	text-align:center;
}

div.navigation A {
	padding:5px;
	border-width:1px;
	border-style:solid;
	border-color:#aaa;
	margin-left:5px;
	margin-right:5px;
}

div.navigation A.current {
	border-width:0px;
}

div.navigation A:hover {
	background:#ddf;
}


a {
	text-decoration:none;
}


a:link, a:visited {
	color:#88f;
}

a:hover {
	color:#aaf;
}

td.error {
	color:#f55;
}

td.valid {
	color:#0a0;
}


/*

div.menus {

	padding-bottom:10%;
}


div.topmenu {
	background:#ddf;

}

div.topmenu span {
	padding-top:5%;
	background:#f00;
}

div.topmenu div.left_side {
	float:left;
}
div.topmenu div.right_side {
	float:right;
}

div.submenu {
	float:left;
	width:100%;
}


div.contentbody {
	padding:2%;
}

H1 {
	margin:0px;
}

*/
