html {
	background:#eee;
	color:#333;
	margin:0px;
}

body {
	margin:0px;	
	background:#eee;
}

div.topmenu {
	float:right;
	background:#ddf;
	width:100%;
	margin-bottom:10%;
}

div.topmenu div.left_side {
	float:left;
	padding-left:2%;
}

div.topmenu div.right_side {
	float:right;
	padding-right:2%;
}

div.topmenu span {

	margin-left:2px;
	margin-right:2px;
	border-bottom-width:0px;
	border-color:#ccf;
	padding:0px;
}

a {
	text-decoration:none;
}


div.topmenu a:link, a:visited {
	color:#88f;
}

div.topmenu a:hover {
	background:#eee;
}

div.topmenu span.menu_current {
	background:#eee;
	color:#88f;
}

div.topmenu span.menu_rest {
	background:#ddf;

}

div.contentbody {
	height:100%;
	padding-left:2%;
	padding-right:2%;
}

div.centeredtext {
	text-align:center;
}

h1, p, h3 {
	margin:0px;
}

table.fullwidth {
	width:100%;
}

td.error {
	color:#f55;
}

a:link,a:visited {
	color:#66f;
}

a:hover {
	color:#aaf;
}

