html {
	background:#eee;
	color:#333;
	margin:0px;
}

body {
	margin:0px;	
	background:#eee;
}


div.submenu a:link, div.submenu a:visited {
	color:#88f;
	background:#eee;
}
div.submenu a:hover {
	color:#88f;
	background:#ddf;
}

div.submenu {
	float:left;
	background:#eee;
	padding-left:2%;
	margin-bottom:10%;	
	width:100%;
}


div.topmenu {
	float:right;
	background:#ddf;
	width:100%;

}

div.topmenu div.left_side {
	float:left;
	padding-left:2%;
}

div.topmenu div.right_side {
	float:right;
	padding-right:2%;
}

div.topmenu span {

	margin-left:2px;
	margin-right:2px;
	border-bottom-width:0px;
	border-color:#ccf;
	padding:0px;
}

a {
	text-decoration:none;
}


div.topmenu a:link, div.submenu a:visited {
	color:#88f;
}



div.topmenu a:hover {
	background:#eee;
}

div.topmenu span.menu_current {
	background:#eee;
	color:#88f;
}

div.topmenu span.menu_rest {
	background:#ddf;

}

div.contentbody {
	height:100%;
	padding-left:2%;
	padding-right:2%;
}

div.centeredtext {
	text-align:center;
}

h1, p, h3 {
	margin:0px;
}

table.fullwidth {
	width:100%;
}

td.error {
	color:#f55;
}

a:link,a:visited {
	color:#66f;
}

a:hover {
	color:#aaf;
}

div.navigation {
	margin:20px;
	text-align:center;
}

div.navigation A {
	margin:10px;
	padding:5px;
	border-width:1px;
	border-style:solid;
	border-color:#aaa;
}

div.navigation A.current {
	border-width:0px;
}

div.navigation A:hover {
	background:#ddf;
}

div.navigation A.prev, div.navigation A.next {
	border-width:0px;
}

A.voteup {
	background:#dfd;
	color:#dfd;
}

A.votedown {
	background:#fdd;
	color:#fdd;
}

span.plus {
	margin:10px;
	color:#0d0;
}

span.minus {
	margin:10px;
	color:#f00;
}

