<% c++ #include <radiorandom/model/core/index.hpp> %>
<% skin html %>
<% view core_index uses content::core::index extends generic_view %>

<% template body_content() %>
<div>
	<p>Core index</p>
</div>
<% end template %>

<% end view %>
<% end skin %>
