<% c++ #include <radiorandom/model/core/index.hpp> %>
<% skin html %>
<% view core_index uses content::core::index extends generic %>

<% template body_content() %>
<div>
    <p>Root index</p>
</div>
<% end template %>

<% end view %>
<% end skin %>
