<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view Error uses Models::Generic::Error extends Master %>
<% template body() %>
                        <div class="centeredtext">
                                <h1>Error <% error_code %> occured.</h1>
                                <p><% error_message %></p>
                        </div>
<% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
