<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view Index uses Models::Generic::Index extends Master %>
<% template body() %>
		<div class="centeredtext">
				<h1 class="welcome">Welcome to radio random!</h1>
				<a href="/listen">Lsten!</a>
				<p class="stat">Currently serving <% index_files %> files of <% c++ /*index_files_size | ext FileSize*/ %> size.</p>
		</div>
<% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
