<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view Setup uses Models::Generic::Setup extends Master %>
<% template body() %>
	<div class="centeredtext">
			<% if setup_submit.value() %>
					<h1>Setted up!</h1>
			<% else %>
					<% if generic_setted_up %>
							<h1>Already setted up. Aborting.</h1>
					<% else %>
							<h1>Setting up RadioRandom database.</h1>
							<form method="post" action="/setup">
									<% form as_space setup_submit %>
							</form>
					<% end %>
			<% end %>
	</div>
<% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
