<% c++ #include <radiorandom/model/user/index.hpp> %>
<% skin html %>
<% view user_index uses content::user::index extends generic %>

<% template body_content() %>
<div>
    <p>User index</p>
</div>

<% end template %>

<% end view %>
<% end skin %>
