<% c++ #include <radiorandom/model/user/list.hpp> %>
<% skin html %>
<% view user_list uses content::user::list extends generic %>

<% template body_content() %>
<div>
    <p>User index</p>
    <p>List index</p>
</div>

<% end template %>

<% end view %>
<% end skin %>
