<% c++ #include <radiorandom/model/user/signup.hpp> %>
<% skin html %>
<% view user_signup uses content::user::signup extends generic %>

<% template body_content() %>
<div>
    <p>User index</p>
    <p>Signup index</p>
</div>

<% end template %>

<% end view %>
<% end skin %>
