<% c++ #include "user/index.h" %>
<% skin html %>
<% view user_index uses model::user::index extends base %>

<% template body_content() %>
user index
<% end template %>

<% end view %>
<% end skin %>
