<% c++ #include "user/logout.h" %>
<% skin html %>
<% view root_user_logout uses model::user::logout extends base %>

<% template body_content() %>
hello!
<% end template %>

<% end view %>
<% end skin %>
