<% c++ #include "user/signup.h" %>
<% skin html %>
<% view root_user_signup uses model::user::signup extends base %>

<% template body_content() %>
hello!
<% end template %>

<% end view %>
<% end skin %>
