<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view html_error uses model::error extends html_master %>
<% template body() %>
                        <div class="centeredtext">
                                <h1>Error <% errorcode %> occured.</h1>
                        </div>
<% end %>
<% template footer() %><% end %>
<% end view %>
<% end skin %>
