<% c++ #include "Models/Models.h" %>
<% xhtml %>
<% skin html %>
<% view html_menu uses model::menu %>
<% template menulinks() %>
			<div class="left_side">
				<% include menulinks_gen(menu_links_left,menu_current) %>
			</div>
			<div class="right_side">
				<% include menulinks_gen(menu_links_right,menu_current) %>
			</div>
<% end %>
<% template menulinks_gen(menu_set items, menu_item current) %>
	<% foreach i in items %>
		<% item %>
			<% if (i.name == current.name) %>
				<span class="menu_current"><a href="<% i.href %>"><% i.name %></a></span>
			<% else %>
				<span class="menu_rest"><a href="<% i.href %>"><% i.name %></a></span>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<% template submenulinks() %>
<% end %>
<% end view %>
<% end skin %>
