<% c++ #include <radiorandom/model/core.hpp> %>
<% skin html %>
<% view core uses content::core extends generic_view %>
<% template page_content() %>
zuga-duga
<% end template %>
<% end view %>
<% end skin %>
