<% c++ #include <radiorandom/model/generic_model.hpp> %>
<% c++ #include <radiorandom/model/root.hpp> %>
<% skin html %>
<% view generic_view uses content::generic_model extends root %>

<% template page_title() %>
<% end template %>




<% template page_content() %>
<% end template %>





<% template navigation() %>
<div>
	<a href="<% url "/"    %>">Index</a>
	<a href="<% url "/user" %>">Users</a>
	<a href="<% url "/post" %>">Posts</a>
</div>
<% end template %>






<% template root_content() %>
<head>
	<% include page_title() %>
</head>  
<body>  
	<% include navigation() %>
	<% include page_content() %>
</body>
<% end template %>




<% end view %>
<% end skin %>
