<% c++ #include <radiorandom/model/root.hpp> %>
<% skin html %>
<% view root uses content::root %>

<% template root_content() %>
<% end template %>

<% template render() %>
<html>  
	<% include root_content() %>
</html>
<% end template %>




<% end view %>
<% end skin %>
